@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* add dotted background */
  background: rgb(var(--background-start-rgb));
  background-image: radial-gradient(
    rgba(var(--foreground-rgb), 0.2) 1px,
    transparent 0
  );
  background-size: 15px 15px;
  background-position: -19px -19px;
  color: rgb(var(--foreground-rgb));
}
